body{
    background-color:  hsl(47, 88%, 63%);
}
#card{
    background-color: white;
     width: 100%;
    max-width: 384px;
    height: 522px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 8px 8px;
}
#component{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#main-image{
    display: block;
    margin: 24px auto ;
max-width: 336px;
width:100%;
height: auto;
border-radius: 15px;
}
#block-text{
    width: 82px;
    height: 29px;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    font-family: 'Figtree',sans-serif;
    font-weight: 800;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 7%);

}
#bottom{
    width: 129px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    font-family: 'Figtree',sans-serif;
    font-size: 12px;

}
#author-pic{
    width: 32px;
    margin: 0;
    height: 32px;
    
}
#writing{
    margin:24px;
    margin-top: -12px;
}
#main-text{
    font-family: 'Figtree',sans-serif;
    font-weight: 800;
    font-size: 20px;
    color: hsl(0, 0%, 7%);
}
#main-text:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
#sub-text{
    font-size: 15px;
    color: hsl(0, 0%, 42%);
    font-family: 'Figtree',sans-serif;
    font-weight: 100;
    padding-right: 2px;
}
#sub-cap{
    color: hsl(0, 0%, 42%);
    font-family: 'Figtree',sans-serif;
    font-weight: 600;
    font-size: 13px;
}
@media (max-width:375px) {
  
   #card{
    max-width: 320px;
    width: 100%;
}
#main-image{
max-width: 279px;
width: 100%;
margin: 24px auto;
border-radius: 15px;
}
}